.navbar {
    background-image: linear-gradient(to right, white, #6fb5e4);
    margin: auto;
}

.form-control {
    border-radius: 400px;
}

img {
    max-width: 50%;
}

ul {
    font-size: large;
    font-weight: 700;
}

.btn {
    color: white;
    border-color: orange;
    border-width: 2px;
    border-radius: 50px;
    margin: 10px;
}

.navbutton {
    float: right;
}
    
.nav-link.active {
    color: orange !important;
    text-align: right;
}



body{
    background-image: url(../images/paragliding_japan.jpg);
    background-repeat: no-repeat;
    background-position: 50% 25%;
    /* background-attachment: scroll; */
}

p {
    font-size: medium;
}


.landing {
    text-align: center;
    max-width: 600px;
    color: white;
    margin-top: 250px;
}


li {
    margin: 20px;
}